html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


// footer прижат к низу 
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

// footer прижат к низу 


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}


.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;

}

.title {
    font-size: 30px;
    line-height: 35px;
    padding-left: 30px;
    font-weight: 400;
    color: #000;
}


.shadow {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
}

button {
    outline: none;
}


.rate-star {
    display: inline-block;
    fill: #ffc000;

    .jq-ry-group-wrapper {

        svg {
            fill: #ffc000;
            margin-right: 3px;
            width: 15px;
            height: 14px;
        }





        // svg:last-child {


        //     polygon {
        //         display: none;
        //     }

        //     fill: #ffc000;

        //     background-image: url("../images/star.svg");
        //     width: 12px;
        //     height: 12px;

        // }

    }
}

.rate-star-null {
    margin-right: 110px;
}

.select2-container {
    border: none;
    background: none;
}

.select2-container .select2-choice {
    height: 21px;
    line-height: 1;
    background-image: none;
    border: none;
    background-color: #fff;
    outline: none;
}

.select2-container .select2-choice .select2-arrow {
    right: -20px;
    border-left: none;
}

.select2-container .select2-choice>.select2-chosen {
    margin-right: 0;
    padding-right: 25px;
}

.select2-search {
    input {
        display: none;
        outline: none;
    }
}

// .yellow {
//     color: #feb71d;
// }

// .aqua {
//     color: #58c9e9;
// }

// .green {
//     color: #77de51;
// }

// .red {
//     color: #ff6a6d;
// }

// .fiolet {
//     color: #7f4ec2;
// }

// .blue {
//     color: #0674ec;
// }

.button-center {
    text-align: center;
    margin: 0 auto;
}

.bell {
    background-color: red;
}







// .breadcrumbs {
//     &__inner {
//         padding-top: 75px;
//         padding-bottom: 29px;
//     }

//     &__list {

//         li {
//             display: inline;
//             position: relative;

//             &+li {
//                 padding-left: 24px;

//                 &::before {
//                     content: "/";
//                     position: absolute;
//                     left: 8px;
//                     color: #fff;
//                 }
//             }


//             &:last-child {

//                 a,
//                 span {
//                     color: #bfcad7;
//                 }
//             }
//         }

//         a {
//             font-size: 15px;
//             color: #fff;
//         }
//     }

// }