html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}


.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.title {
    font-size: 30px;
    line-height: 35px;
    padding-left: 30px;
    color: #000;
}


.shadow {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
}

button {
    outline: none;
}