@media (max-width: 1180px) {

    .search {
        &__form {

            &::after,
            &::before {
                display: none;
            }
        }

    }


    .info {
        &__inner {
            display: block;
        }
    }


    .slider {

        .rate-star {
            margin-left: 0;
        }

        .client__price {
            text-align: center;
            margin-bottom: 10px;
        }

        .client__tags {
            margin-bottom: 25px;
        }
    }


    .products {
        &__item {
            flex-basis: calc(45% - 20px);
            max-width: 100%;
        }
    }


    .advantage {

        &__inner {
            margin-right: 20px;
        }

        &__profit {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }


    .news {

        &__popular {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__item {
            margin-right: 20px;
            margin-bottom: 30px;
        }
    }


    .market {
        flex-wrap: wrap;

        &__sell-all,
        &__buy-all {
            max-width: 100%;
            top: 50px;
        }

        &__sell-text,
        &__buy-text {
            max-width: 100%;
        }

        &__sell-title,
        &__buy-title {
            font-size: 30px;
        }
    }

}




@media (max-width: 1099px) {

    .slider {

        .client {
            padding: 20px;

            &__text {
                margin-bottom: 15px;
            }

            &__info {
                padding-top: 15px;
            }

            &__links {
                margin-bottom: 20px;
            }

            &__tags {
                margin-bottom: 15px;
            }
        }

        .slider__img {
            min-height: 200px;
            max-width: 35%;
        }

    }


    .footer {
        &__inner {
            flex-wrap: wrap;
        }

        &__col-title-margin {
            margin-top: 20px;
        }

        &__col-title {
            margin-bottom: 20px;
        }
    }


    .products {

        &__btn {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__panel {
            margin-bottom: 20px;
            width: 20%;
        }
    }


    .support {

        &::before {
            display: none;
        }

        &__fast {
            display: block;
        }

        &__momey-title {
            margin-bottom: 30px;
        }
    }
}




@media (max-width: 951px) {

    .search {
        &__form {
            display: none;
        }
    }

    .header__items {

        .menu__list {
            display: none;
            background-color: $color-link-lightgrey;

            position: absolute;
            top: 180px;
            left: 0;
            right: 0;
            z-index: 1;
            text-align: center;

            .menu__list-link {
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #fff;
            }

            .menu__list-item {
                display: block;

                &+.menu__list-item {
                    margin-left: 0;
                }

                &:first-child {
                    border-top: none;
                }
            }
        }


        .menu__btn {
            display: block;
            width: 35px;
            cursor: pointer;

            .menu__btn-line {
                background-color: $color-btn-blue;
                height: 3px;

                &+.menu__btn-line {
                    margin-top: 6px;
                }
            }
        }
    }

    .products {

        &__item {
            flex-basis: calc(60% - 20px);
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

}




@media (max-width: 860px) {
    .info {
        display: block;

        &__inner {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .slider {

        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // flex: 0 1 auto;
        }

        .slider__img {
            max-width: 100%;
            min-height: 250px;
        }
    }



    .feedback {
        &__comment {
            padding: 25px;
        }

        &__img {
            &::after {
                display: none;
            }
        }

        &__logo {
            padding-right: 50px;
        }
    }


    .header {
        &__btn {
            display: none;
        }
    }

    .products {

        &__panel {
            width: 40%;
        }

        &__item {
            flex-basis: calc(70% - 35px);
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__content {
            padding: 15px;
        }

        &__info {
            padding: 10px 20px;
        }
    }
}



@media (max-width: 700px) {

    .footer {

        &__col {

            &--info {
                min-width: 100%;
            }

            &--menu {
                min-width: 50%;
            }
        }

        &__info-email {
            display: block;
        }

        &__title {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }

    .icons {

        &__list {
            flex-wrap: wrap;
            width: 25%;
            margin: 0 auto;
        }

        &__item {
            text-align: center;
            margin: 20px auto;
        }
    }

    .header {
        &__logo {
            display: none;
        }
    }

    .products {
        &__title {
            margin-right: 20px;
            font-size: 20px;
            line-height: 25px;
        }

        &__release {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}



@media (max-width: 500px) {

    .create {
        padding: 100px 0 150px;

        &__inner {
            font-size: 45px;
            line-height: 50px;
        }

        &__all {
            display: block;
            margin-bottom: 20px;
            margin-right: 0;
        }

        &__popular {
            display: block;
            margin-right: 0;
        }
    }


    .market {
        width: 100%;

        &__sell-all,
        &__buy-all {
            left: 10px;
            right: 10px;
        }
    }


    .header__items .find__form-input {
        width: 300px;
        margin-left: 10px;
    }




    // 475

    .slider {

        .featured__title {
            padding-left: 15px;
        }

        .featured__button {
            margin-right: 15px;
        }

    }


    .products {
        &__panel {
            width: 70%;
        }
    }




    // .create {

    //     &__all {
    //         display: block;
    //         margin-bottom: 20px;
    //         margin-right: 0;
    //     }

    //     &__popular {
    //         display: block;
    //         margin-right: 0;
    //     }
    // }


    .advantage {

        &__inner {
            padding: 20px;
        }
    }


    .news {

        &__content,
        &__item-info {
            padding: 15px;
        }

        &__info-date {
            margin-right: 0;
        }

        &__item-info {

            &::before {
                display: none;
            }
        }
    }

    .footer {
        &__social-link {
            flex-wrap: wrap;
            justify-content: center;

            .footer__social {
                margin-bottom: 20px;
            }

        }
    }


}




@media (max-width: 400px) {


    .header {
        &__avatar {
            justify-content: flex-end;
        }

        &__avatar-info {
            margin-left: 10px;
            width: 60px;
        }

        &__avatar-logo {
            margin-left: 5px;
            margin-right: 0;
        }
    }



    .slider {

        .client__info {
            display: block;

            text-align: center;
        }

        .client__tags {
            display: block;
            width: 70%;
            text-align: center;
            margin: 0 auto 10px;
        }

        .client__price {
            margin-right: 0;
        }
    }


    .menu__btn {
        margin-left: 0;
    }

    .header__items .find__form-input {
        width: 250px;
        margin-left: 10px;
    }

    .slider__inner-images {
        min-width: 300px;
        min-height: 300px;
    }


    .products {

        &__info {
            padding: 5px;
        }

        &__info-price {
            display: block;
            margin: 0 auto;
        }

        &__info-favorites {
            margin-right: 0;

            &::before {
                left: 5px;
            }
        }

        .rate-star {
            padding: 8px 15px 0 10px;
        }
    }
}



@media (min-width: 951px) {
    .menu__list {
        display: block !important;
    }
}