$color-btn-blue: #0674ec;
$color-btn-lightblue: #e6f1fd;
$text: #333333;
$text-light: #555555;
$color-text-black: #000000;

$text-white-light: #f3f3f8;
$color-grey: #eff1f5;
$color-fiolet: #7347c1;
$color-btn-lightgrey: #f1f3f6;
$color-link-lightgrey: #868c96;
$color-border: #ececec;
$color-bg-lightgrey: #f6f7fb;
$color-button-lightgrey: #747b86;

$color-icons-yellow: #feb71d;
$color-icons-aqua: #58c9e9;
$color-icons-green: #77de51;
$color-icons-red: #ff6a6d;

$color-footer-text: #ababab;