@import "_fonts";
@import "_vars";
@import "_global";




.header {

    &__top {
        background: #eef1f3;
    }

    &__logo {
        padding-left: 8px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    &__btn {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: 50px;
        padding: 12px 20px;
        background-color: $color-btn-blue;
        border-radius: 18px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: white;
    }


    &__register-info-bell {
        margin-right: 50px;
        position: relative;

        &::before {
            content: "\e858";
            font-family: 'Linearicons-Free';
            position: absolute;
            width: 17px;
            height: 20px;
            color: $color-link-lightgrey;
        }
    }


    &__register-info-envelope {
        position: relative;
        margin-right: 50px;

        &::before {
            content: "\e818";
            font-family: 'Linearicons-Free';
            position: absolute;
            width: 21px;
            height: 14px;
            color: $color-link-lightgrey;
        }
    }

    &__register-info-basket {
        position: relative;
        margin-right: 25px;

        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            position: absolute;
            width: 18px;
            height: 20px;
            color: $color-link-lightgrey;
        }
    }

    &__register-info-bell-num,
    &__register-info-envelope-num,
    &__register-info-basket-num {
        position: absolute;
        text-align: center;
        top: -14px;
        font-weight: 500;
        padding-top: 4px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
    }

    &__register-info-bell-num {
        background-color: #ff6a6c;
        width: 26px;
        height: 22px;
        border-radius: 11px;
        left: 6px;
    }


    &__register-info-envelope-num {
        background-color: #62d03b;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        left: 9px;
    }


    &__register-info-basket-num {
        background-color: #0674ec;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        left: 10px;
    }


    &__avatar {
        display: flex;
        align-items: center;
    }

    &__avatar-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        margin-left: 45px;
        background-color: #7c7979;
    }

    &__avatar-name {
        display: block;
        color: $text;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 16px;
    }

    &__avatar-price {
        font-size: 15px;
        display: block;
        color: $color-btn-blue;
    }

}


.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .menu {
        display: flex;
        align-items: center;
        height: 80px;


        &__list {
            li {
                display: inline-block;

                &+li {
                    margin-left: 34px;
                }
            }

            a {
                font-weight: 500;
                font-size: 15px;
                line-height: 42px;
                text-transform: uppercase;
                color: $text;
            }
        }

        &__btn {
            width: 30px;
            margin-left: 5px;
            display: none;
        }


        &__btn-line {
            height: 4px;
            background-color: $text-light;
            margin-bottom: 4px;
        }

    }



    .find {

        &__form {
            max-width: 360px;
            width: 100%;
            position: relative;
        }

        &__form-input {
            width: 360px;
            display: block;
            height: 44px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            line-height: 30px;
            border-radius: 23px;
            outline: none;
            padding-left: 25px;
            padding-right: 80px;

            &::placeholder {
                color: #898f96;
                font-weight: 500;
            }
        }

        &__form-button {
            cursor: pointer;
            padding: 6px 27px;
            width: 70px;
            border-radius: 23px;
            position: absolute;
            border: none;
            background-color: transparent;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color-btn-blue;

            &::before {
                content: "\e86f";
                position: absolute;
                font-family: 'Linearicons-Free';
                width: 16px;
                height: 16px;
                color: #fff;
                left: 29px;
                top: 13px;
            }
        }
    }


}


.create {
    background-color: #294cce;
    color: white;
    text-align: center;
    padding: 183px 0 230px;


    &__inner {
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
    }

    &__inner-title {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    &__inner-subtitle {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__inner-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
        color: $text-white-light;
    }

    &__inner-btn {
        font-size: 16px;
    }

    &__inner-all,
    &__inner-popular {
        display: inline-block;
        width: 190px;
        border: 1px solid white;
        background-color: transparent;
        padding: 19px 30px;
        border-radius: 28px;
        margin-right: 30px;
        cursor: pointer;
        color: white;
        transition: all 0.7s ease-in;
        line-height: 1;

        &:hover {
            background-color: #fff;
            color: $color-btn-blue;
        }
    }

}


.search {
    position: relative;
    padding: 185px 0 120px;

    &__form {
        height: 0;
    }

    &__products-one,
    &__products-two {
        position: absolute;
        background-color: #fff;
        opacity: 0.5;
        height: 135px;
        border-radius: 6px;
    }

    &__products-one {
        top: -96px;
        width: 1080px;
        margin-left: 30px;
    }

    &__products-two {
        top: -83px;
        width: 1110px;
        margin-left: 15px;
    }

    &__products-form {
        background-color: #fff;
        padding: 40px;
        border-radius: 6px;
        max-width: 1140px;
        width: 100%;
        position: relative;
        height: 135px;
        top: -250px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }

    &__products-form-input {
        width: 100%;
        width: 807px;
        height: 55px;
        border: 1px solid #dcdcdc;
        padding-left: 28px;
        outline: none;
        border-radius: 4px;
        display: inline-block;
    }

    &__products-form-select {
        font-size: 16px;
        line-height: 1;
        position: absolute;
        color: $text-light;
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 40px;

        right: 293px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        outline: none;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     background-image: url("../images/down.png");
        //     width: 13px;
        //     height: 8px;
        //     top: 50%;
        //     right: 20px;
        //     transform: translateY(-50%);
        // }
    }

    &__products-form-now {
        display: inline-block;
        margin-left: 24px;
        margin-bottom: 5px;
        text-align: center;
        height: 55px;
        background-color: $color-btn-blue;
        border-radius: 4px;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        padding: 18px 68px;
    }


    // select
    .jq-selectbox__select {
        height: 32px;
        padding: 0 45px 0 10px;
        border: none;
        border-bottom-color: none;
        border-radius: none;
        background: none;
        box-shadow: none;
        font-family: 'Quicksand', sans-serif;
        color: #000;
        text-shadow: none;
        line-height: 25px;
    }

    .jq-selectbox.focused .jq-selectbox__select {
        border: none;
    }

    .jq-selectbox__trigger {
        border-left: none;
    }


    .jq-selectbox li {
        min-height: 15px;
        padding: 9px 7px 8px;
        color: #231F20;
    }



    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 1px;
        right: 12px;
        width: 0;
        height: 0;
        border-top: none;
        border-right: none;
        border-left: none;

        &::before {
            content: "\e874";
            font-family: 'Linearicons-Free';
            top: 0;
        }
    }


    .jq-selectbox__dropdown {
        box-sizing: border-box;
        width: 101%;
        margin: 5px -21px 0px;
        padding: 0;
        border: 1px solid #CCC;
        border-radius: 0;
        background: none;
        box-shadow: none;
        font-family: 'Quicksand', sans-serif;
    }

    .jq-selectbox li:hover {
        background-color: $color-btn-blue;
        color: none;
    }

}


.info {
    display: flex;
    justify-content: space-between;

    &__inner {
        min-height: 400px;
        max-width: 360px;
        text-align: center;
        padding: 40px 30px 50px 30px;
    }

    &__inner-images {
        display: inline-block;
        margin-bottom: 40px;
    }

    &__inner-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }

    &__inner-text {
        font-size: 16px;
        line-height: 30px;
        color: #555;
    }

    &__active {
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

}



.slider__featured {
    padding: 120px 0;
    background-color: $color-grey;

    .rate-star {
        margin-left: 170px;
    }
}



.featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: #fff;

    &__button {
        width: 110px;
        height: 45px;
        background-color: $color-fiolet;
        margin-right: 30px;
        border-radius: 23px;
        position: relative;


        // Slider arrows 
        .slick-arrow {
            width: 8px;
            height: 14px;
            z-index: 10;

            &::before {
                display: none;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            z-index: 10;
            display: block;
            cursor: pointer;
        }

        .slick-prev {
            left: 27px;
        }

        .slick-next {
            right: 25px;
        }
    }
}


.slider__resume {
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}

.slider__inner {
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    &-images {
        min-width: 555px;
        min-height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}



.client {
    padding: 50px 50px 25px 48px;

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 23px;
        color: $color-text-black;
    }

    &__item-link {
        position: relative;
        margin-bottom: 35px;
    }

    &__item-link-author {
        padding-left: 43px;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url("../images/circle.svg");
            border-radius: 16px;
            left: 0;
            top: -7px;
        }
    }

    &__item-link-category {
        padding-left: 45px;

        &::before {
            content: "\f19a";
            font-family: 'icomoon';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 135px;
            color: $color-fiolet;
        }
    }

    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
        margin-bottom: 40px;
    }

    &__item-btn {

        a+a {
            margin-left: 7px;
        }
    }

    &__item-btn-website,
    &__item-btn-plugin,
    &__item-btn-landing {
        display: inline-block;
        padding: 7px 14px 7px 17px;
        background-color: $color-btn-lightgrey;
        border-radius: 50px;
        font-size: 15px;
        line-height: 1;
        margin-bottom: 45px;
        color: $color-link-lightgrey;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-border;
        padding-top: 23px;
    }

    &__item-info-price {
        padding: 9px 19px;
        text-align: center;
        background-color: $color-btn-blue;
        border-radius: 20px;
        font-weight: 500;
        color: #fff;
        font-size: 15px;
        line-height: 1;
        display: inline-block;
        margin-right: 18px;
    }

    &__item-info-link {
        position: relative;
        margin-right: auto;

        a {
            padding-left: 25px;
            font-size: 15px;
            line-height: 30px;
            margin-right: 12px;
        }
    }

    &__item-info-link-favorites {
        color: $text-light;
        position: relative;


        // сердце иконка
        &::before {
            content: "\f08a";
            font-family: 'icomoon';
            position: absolute;
            width: 16px;
            height: 14px;
            color: $color-fiolet;
            left: 0px;
        }
    }

    &__item-info-link-buy {
        display: inline-block;
        color: $color-btn-blue;
        position: relative;

        // корзина иконка
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            position: absolute;
            width: 14px;
            height: 14px;
            top: -1px;
            left: 0;
        }
    }
}



.products {
    background-color: $color-bg-lightgrey;
    padding: 120px 0;

    &__release {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        background-color: #fff;
    }


    &__release-filter {
        padding-right: 60px;
        font-size: 16px;
        color: $color-button-lightgrey;
    }

    &__release-filter-link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/ellipsis-vertical.svg");
            background-repeat: no-repeat;
            width: 7px;
            height: 22px;
            left: 25px;
        }
    }


    &__inner-btn {
        margin: 30px 0 50px;
        background-color: #fff;
        height: 92px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 30px;

    }


    &__inner-btn-panel {
        text-align: center;
        background-color: $color-btn-lightgrey;
        color: $color-button-lightgrey;
        border: none;
        padding: 9px 20px;
        border-radius: 16px;
        font-size: 15px;
        line-height: 1;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $color-btn-blue;
            color: white;
        }

        &.active-button {
            background-color: $color-btn-blue;
            color: #fff;
        }

        &+button {
            margin-left: 10px;
        }

    }


    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .rate-star {
            padding: 8px 30px 0 15px;
            margin-right: 10px;
        }
    }


    &__item {
        max-width: 361px;
        width: 100%;
        border: 1px solid $color-border;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        background-color: #fff;

        &+products__item {
            margin-right: 20px;
        }

    }


    &__item-img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        min-height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    &__item-content {
        padding: 30px 30px 20px 30px;
    }


    &__item-content-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 23px;
    }

    // hover img
    &__hover-link {
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        transition: all 0.7s ease-in;
        min-height: 230px;


        &:hover {
            background: rgb(104, 79, 187);
            background: linear-gradient(90deg, rgba(104, 79, 187, 1) 0%, rgba(59, 98, 205, 1) 50%, rgba(5, 119, 226, 1) 100%);

            a {
                opacity: 1;
            }
        }
    }


    &__hover-link-info,
    &__hover-link-demo {
        display: inline-block;
        opacity: 0;
        max-width: 130px;
        width: 100%;
        border: 1px solid white;
        background-color: transparent;
        padding: 13px 27px;
        border-radius: 23px;
        cursor: pointer;
        color: white;
        transition: all 0.7s ease-in;
        font-weight: 500;
        font-size: 15px;
        height: 45px;
        margin-top: 93px;
        line-height: 1;
        text-align: center;

        &:hover {
            background-color: #fff;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            color: #177ded;
        }
    }


    &__item-link {
        font-size: 15px;
        line-height: 30px;
        position: relative;
        margin-bottom: 33px;

        a {
            padding-left: 40px;
        }
    }


    &__item-link-author {
        color: #000;
        margin-right: 10px;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url("../images/circle.svg");
            border-radius: 50%;
            left: 0;
            top: 0;
        }
    }


    &__item-link-category {
        color: $color-fiolet;
    }


    &__item-link-wordpress {
        position: relative;

        // wordpress иконка
        &::before {
            content: "\f19a";
            font-family: 'icomoon';
            position: absolute;
            color: $color-fiolet;
            width: 16px;
            height: 16px;
            left: 13px;
            top: -6px;
        }
    }


    &__item-link-psd {
        position: relative;
        color: $color-fiolet;

        // psd иконка
        &::before {
            content: "\e901";
            font-family: 'icomoon';
            position: absolute;
            color: $color-fiolet;
            width: 17px;
            height: 17px;
            left: 13px;
            top: -6px;
        }
    }



    &__item-link-html {
        position: relative;

        // html5 иконка 
        &::before {
            content: "\f13b";
            font-family: 'icomoon';
            position: absolute;
            color: $color-fiolet;
            width: 16px;
            height: 18px;
            left: 13px;
            top: -6px;
        }
    }


    &__item-text {
        font-size: 16px;
        line-height: 32px;
        color: $text-light;
    }


    &__item-info {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-border;
        padding: 16px 30px;
    }


    &__item-info-price {
        display: inline-block;
        padding: 8px 19px;
        text-align: center;
        background-color: $color-btn-lightblue;
        border-radius: 20px;
        font-weight: 500;
        color: $color-btn-blue;
        font-size: 15px;
        line-height: 1;
        margin-right: 10px;
        max-width: 90px;

        span {
            display: inline-block;
            text-align: left;
            min-width: 85px;
            padding-left: 5px;
        }
    }


    &__item-info-link {
        position: relative;
        display: flex;
        justify-content: space-around;

        a {
            padding-left: 25px;
            font-size: 15px;
            line-height: 30px;
            display: inline-block;
        }
    }



    &__item-info-link-favorites {
        color: $text-light;
        margin-right: 10px;
        padding-right: 10px;

        // сердце иконка 
        &::before {
            content: "\f08a";
            font-family: 'icomoon';
            position: absolute;
            width: 16px;
            height: 14px;
            color: $color-fiolet;
            left: 0px;
        }
    }


    &__item-info-link-buy {
        color: $color-btn-blue;

        // корзина иконка
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 0;
            right: 35px;
        }
    }


    &__button {
        display: inline-block;
        margin-top: 60px;
        padding: 20px 30px;
        border-radius: 28px;
        background-color: $color-btn-blue;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

}


.products__item-img:hover .products__hover-link {
    height: 230px;
}



.slider__feed {
    background-color: $color-grey;
    padding-top: 120px;

    .rate-star {
        padding: 10px 30px 0 15px;
        margin-right: 10px;
    }

}



.followers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: #fff;

    &__feed-button {
        width: 110px;
        height: 45px;
        background-color: $color-btn-blue;
        margin-right: 30px;
        border-radius: 30px;
        position: relative;


        // Slider arrows 
        .slick-arrow {
            width: 8px;
            height: 14px;
            z-index: 10;

            &::before {
                display: none;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            z-index: 10;
            display: block;
            cursor: pointer;
        }

        .slick-prev {
            left: 27px;
        }

        .slick-next {
            right: 25px;
        }
    }
}



.slider__followers {
    padding: 50px 0 120px;



    // убрать отступ на слайдере
    .slick-slide {
        padding: 0 15px;
    }

    .slick-list {
        margin: 0 -15px;
    }




    // .slider__wraps {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
}



.icons {
    background-color: #212225;
    padding: 94px 0;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        font-family: 'Linearicons-Free';
    }

    &__item-img {
        font-size: 48px;
    }

    &__item-number {
        margin-top: 30px;
        font-size: 36px;
    }

    &__item-subtitle {
        font-size: 18px;
        line-height: 36px;
        color: #fff;
    }

}

.advantage {
    padding: 120px 0 90px;

    &__info {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }

    &__title {
        font-size: 36px;
    }

    &__subtitle {
        color: $color-btn-blue;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
        margin-top: 28px;
        margin-bottom: 60px;
    }

    &__profit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__inner {
        text-align: center;
        font-family: 'Linearicons-Free';
        max-width: 360px;
        max-height: 373px;
        padding: 55px 35px 60px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        position: relative;
    }


    &__number {
        font-weight: 300;
        font-size: 48px;
        color: rgba(92, 135, 248, 0.2);
        position: absolute;
        left: 20px;
        top: 10px;
    }

    &__inner-images {
        font-size: 60px;
    }

    &__inner-title {
        font-size: 24px;
        margin-top: 46px;
        margin-bottom: 23px;
        color: $color-text-black;
    }

    &__inner-text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
    }
}



.market {
    display: flex;
    color: #fff;

    &__sell,
    &__buy {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 561px;
    }

    &__sell-all,
    &__buy-all {
        position: absolute;
        max-width: 680px;
        text-align: center;
        top: 100px;
        left: 120px;
        right: 120px;
    }

    &__sell-img {
        display: inline-block;
        left: 50%;
    }

    &__sell-title,
    &__buy-title {
        margin-top: 49px;
        font-size: 36px;
        margin-bottom: 23px;
    }

    &__sell-text,
    &__buy-text {
        font-size: 16px;
        line-height: 30px;
        max-width: 585px;
        margin: 0 auto;
    }

    &__sell-link,
    &__buy-link {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        margin-top: 50px;
        color: $color-btn-blue;
        background-color: #fff;
        padding: 20px 26px;
        border-radius: 28px;
    }

    &__buy-link {
        padding-left: 42px;
        padding-right: 42px;
        color: $color-fiolet;
    }
}


.feedback {

    &__info {
        padding-top: 120px;
        text-align: center;
        max-width: 695px;
        margin: 0 auto;
    }

    &__title {
        font-size: 36px;
        color: $color-text-black;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: $color-btn-blue;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
        margin-bottom: 60px;
    }

    &__reviews {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__comment {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 50px 40px;
        border-left: 2px solid $color-btn-blue;
        max-width: 555px;
        width: 100%;
    }

    &__top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 475px;
        position: relative;
        margin-bottom: 30px;
    }

    &__top-avatar-logo {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 19px;
    }

    &__top-avatar-name {
        display: block;
        color: $text;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 20px;
        color: $color-text-black;
    }

    &__top-avatar-prof {
        font-size: 16px;
        display: block;
        color: $text-light;
    }

    &__top-avatar-img {
        font-size: 60px;
        color: #e8e8e8;

        &::after {
            content: "\e83f";
            position: absolute;
            font-family: 'Linearicons-Free';
            width: 59px;
            height: 52px;
            top: -11px;
            right: 0;
        }
    }

    &__avatar-text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
    }

    &__link {
        display: inline-block;
        padding: 21px 34px;
        border-radius: 28px;
        color: #fff;
        background-color: $color-btn-blue;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 120px;
    }
}



.news {
    background-color: #eff1f5;
    padding: 120px 0;


    &__info {
        text-align: center;
        max-width: 710px;
        margin: 0 auto;
    }

    &__title {
        font-size: 36px;
        color: $color-text-black;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: $color-btn-blue;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
        margin-bottom: 60px;
    }


    &__popular {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 361px;
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }


    &__item-img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        min-height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item-content {
        padding: 29px 39px 18px 28px;
        border-bottom: 1px solid #ececec;
        min-height: 12rem;
    }

    &__item-content-title {
        font-weight: 500;
        font-size: 22px;
        color: $color-text-black;
        margin-bottom: 24px;
    }

    &__item-content-text {
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
    }

    &__item-info {
        padding: 23px 30px 20px 30px;
        display: flex;
        justify-content: space-between;
        color: #7e7e7e;
        font-size: 15px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 40px;
            background-color: #ececec;
            left: 50%;
            top: 10px;
        }
    }

    &__item-info-date {
        padding-left: 25px;
        margin-right: 47px;
        position: relative;

        &::before {
            content: "\e864";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
            color: $color-btn-blue;
        }
    }

    &__item-info-number {
        display: flex;
    }

    &__item-info-comments {
        padding-left: 25px;
        margin-right: 20px;
        position: relative;

        &::before {
            content: "\e83f";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
    }

    &__item-info-views {
        padding-left: 25px;
        position: relative;

        &::before {
            content: "\e81b";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
    }
}


.support {
    padding-top: 62px;
    padding-bottom: 60px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 305px;
        background-color: #e8eaf3;
        top: 0;
        left: 50%;
    }

    &__fast {
        display: flex;
        justify-content: space-around;
    }

    &__momey,
    &__speed {
        text-align: center;
    }

    &__momey-title,
    &__speed-title {
        margin-top: 33px;
        font-size: 24px;
        color: $color-text-black;
    }

    &__momey-link {
        color: $color-btn-blue;
    }

    &__speed-link {
        color: $color-fiolet;
    }
}


.marketplace {
    padding: 110px 0;
    background: linear-gradient(90deg, rgba(103, 30, 144, 1) 0%, rgba(61, 41, 178, 1) 50%, rgba(12, 55, 218, 1) 100%);
    opacity: 0.9;

    &__ready {
        text-align: center;
    }

    &__title {
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: #e7e7e7;
        font-size: 18px;
        margin-bottom: 50px;
    }

    &__link {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        color: $color-btn-blue;
        padding: 20px 43px;
        text-align: center;
        background-color: #fff;
        border-radius: 28px;
    }
}


.footer {
    background-color: #262b30;
    color: #ababab;

    &__content {
        padding-top: 110px;
        padding-bottom: 119px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        padding-right: 20px;
    }

    &__col-logo-img {
        display: inline-block;
    }

    &__info-phone,
    &__info-email,
    &__info-address {
        padding-left: 27px;
        position: relative;
        font-family: 'icomoon';
        font-size: 16px;
        color: #ababab;
    }

    &__col-text {
        margin-top: 18px;
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 29px;
    }

    &__info-phone {
        display: inline-block;
        margin-bottom: 20px;

        &::before {
            content: "\f095";
            color: #fff;
            position: absolute;
            left: 2px;
            top: 64%;
            transform: translateY(-50%);
        }
    }

    &__info-email {
        display: inline-block;
        margin-bottom: 20px;

        &::before {
            content: "\f003";
            color: #fff;
            position: absolute;
            left: 0;
            top: 58%;
            transform: translateY(-50%);
        }
    }

    &__info-address {
        line-height: 26px;

        &::before {
            content: "\f041";
            color: #fff;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__col-title {
        color: #fff;
        font-size: 18px;
        line-height: 42px;
        margin-top: 3px;
        margin-bottom: 33px;
    }

    &__col-info {
        max-width: 290px;
        width: 100%;
    }

    &__col-menu {
        max-width: 175px;
        width: 100%;
    }


    &__col-social {
        max-width: 430px;
        width: 100%;
    }

    &__col-list {
        a {
            margin-bottom: 18px;
        }
    }

    &__col-list-link {
        display: inline-block;
        font-size: 15px;
        color: #ababab;
    }

    &__col-social-text {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 35px;
    }

    &__form {
        max-width: 360px;
        position: relative;
        width: 100%;
    }

    &__form-input {
        display: inline-block;
        max-width: 360px;
        width: 100%;
        height: 50px;
        padding: 20px 130px 19px 30px;
        border-radius: 25px;
        border: none;
        font-size: 15px;
        color: #ababab;
        outline: none;
        margin-bottom: 48px;

        &::placeholder {
            color: #ababab;
        }
    }

    &__form-button {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        width: 110px;
        padding: 17px 30px;
        border-radius: 25px;
        line-height: 1;
        background-color: $color-btn-blue;
        color: #fff;
        border: none;
        right: 0;
        top: 0;
    }



    &__col-title-margin {
        margin-bottom: 28px;
    }

    &__social-link {
        display: flex;
        justify-content: start;

        a {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            position: relative;
            margin-right: 14px;
            color: #fff;

            &::before {
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }


    .icon-facebook {
        background-color: #395799;
    }

    .icon-twitter {
        background-color: #19b2f5;
    }

    .icon-google {
        background-color: #f05b44;
    }

    .icon-pinterest {
        background-color: #9c0c1c;
    }

    .icon-linkedin {
        background-color: #0da6be;
    }

    .icon-dribbble {
        background-color: #ea4c89;
    }

    &__copy {
        background-color: #192027;
        margin: 0 auto;
        text-align: center;
    }

    &__copy-text {
        font-size: 15px;
        line-height: 27px;
        color: #999999;
        padding: 40px 0;
    }

    &__copy-link {
        color: #fff;
    }


}




















@import "_media";
// 