@import "_vars";
@import "_global";
@import "_fonts";







.header__top {
    background: #eef1f3;
}


.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__btn {
    margin-left: auto;
    margin-right: 48px;
    padding: 12px 20px;
    background-color: $color-btn-blue;
    border-radius: 22px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: white;
}

.header__register-info a {

    &+a {
        margin-left: 30px;
    }
}

.header__avatar {
    display: flex;
    align-items: center;

    &-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        margin-left: 45px;
        background-color: #7c7979;
    }

    &-name {
        display: block;
        color: #333333;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &-price {
        display: block;
        color: $color-btn-blue;
    }
}


.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    align-items: center;
    height: 80px;


    &__list {
        li {
            display: inline-block;

            &+li {
                margin-left: 35px;
            }
        }

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 42px;
            text-transform: uppercase;
            color: $text;
        }
    }
}


.header__search {
    text-align: center;

    &-form {
        max-width: 360px;
        width: 100%;
        position: relative;
        border-radius: 20px;

        input {
            display: block;
            width: 100%;
            height: 44px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            line-height: 30px;
            border-radius: 20px;
            outline: none;
            padding-left: 25px;
            padding-right: 70px;

            &::placeholder {
                color: #898f96;
                font-weight: 500;
            }
        }

        button {
            width: 70px;
            border-radius: 20px;
            position: absolute;
            border: none;
            background-color: transparent;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color-btn-blue;
            outline: none;
        }
    }
}





.create {
    background-color: #294cce;
    color: white;
    text-align: center;
    padding: 205px 0 230px;
}



.create__inner {
    font-size: 60px;
    line-height: 70px;
    color: #f3f3f8;

    &-subtitle {
        font-weight: 700;
        margin-bottom: 30px;
    }

    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }

    &-btn {
        font-size: 16px;


        button {
            width: 190px;
            outline: none;
            border: 1px solid white;
            background-color: transparent;
            padding: 20px 30px;
            border-radius: 30px;
            margin-right: 30px;
            cursor: pointer;
            color: white;
            transition: all 0.7s ease-in;

            &:hover {
                background-color: #fff;
                color: #177ded;
                border: none;
            }
        }
    }

}




.search {
    position: relative;
    padding: 185px 0 120px;

    &__form {
        height: 0;
    }


    &__products-one,
    &__products-two {
        position: absolute;
        background-color: #fff;
        opacity: 0.5;
        height: 135px;
        border-radius: 6px;
    }

    &__products-one {
        top: -96px;
        width: 1080px;
        margin-left: 30px;
    }

    &__products-two {
        top: -83px;
        width: 1110px;
        margin-left: 15px;
    }

    &__products-form {
        background-color: #fff;
        padding: 40px;
        border-radius: 6px;
        max-width: 1170px;
        width: 100%;
        position: relative;
        top: -250px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

        input {
            width: 100%;
            width: 805px;
            height: 55px;
            border: 1px solid #dcdcdc;
            padding-left: 25px;
            outline: none;
        }

        &-one {
            position: absolute;
            top: 40px;
            right: 224px;
            height: 55px;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            padding-left: 20px;
            padding-right: 70px;
            margin-right: 70px;
            outline: none;

            &::after {
                content: "";
                position: absolute;
                background-image: url("../images/down.png");
                width: 13px;
                height: 8px;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }

        &-two {
            margin-left: 30px;
            width: 220px;
            height: 55px;
            background-color: $color-btn-blue;
            border: none;
            color: white;
            font-size: 16px;
        }
    }
}



.search__items {
    display: flex;
    justify-content: space-between;
}

.search__inner {
    min-height: 400px;
    max-width: 360px;
    text-align: center;
    padding: 40px 30px 50px 30px;

    &-images {
        display: inline-block;
        margin-bottom: 40px;
    }

    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }

    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555;
    }
}


.search__active {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}



.slider__featured {
    padding: 120px 0;
    background-color: $color-grey;
}

.featured__weekly {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // width: 100%;
    height: 110px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

    &-button {
        width: 110px;
        height: 45px;
        background-color: $color-fiolet;
        margin-right: 30px;
        border-radius: 30px;
        position: relative;


        // Slider arrows 
        .slick-arrow {
            width: 8px;
            height: 14px;
            z-index: 10;

            &::before {
                display: none;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            z-index: 10;
            display: block;
            cursor: pointer;
        }

        .slick-prev {
            left: 27px;
        }

        .slick-next {
            right: 25px;
        }
    }
}


.slider__resume {
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}

.slider__inner {
    margin-top: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    &-images {
        min-width: 555px;
        min-height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.slider__item {
    padding: 50px 50px 25px 48px;

    &-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 13px;
    }

    &-link {
        position: relative;
        margin-bottom: 35px;

        &-one {
            padding-left: 43px;

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $color-fiolet;
                border-radius: 50%;
                left: 0;
                top: -7px;
            }
        }

        &-two {
            padding-left: 43px;

            &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                background-image: url("../images/slider_resume/wordpress-link.png");
                left: 130px;
                top: 0;
            }
        }
    }

    &-text {
        font-size: 25px;
        font-size: 16px;
        line-height: 30px;
        color: $text-light;
        margin-bottom: 40px;
    }

    &-btn a {
        padding: 9px 14px;
        background-color: $color-btn-lightgrey;
        border-radius: 20px;
        font-size: 15px;
        line-height: 1.3;
        display: inline-block;
        margin-bottom: 45px;
        color: $color-link-lightgrey;

        a+a {
            margin-left: 7px;
        }

    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-border;
        padding-top: 23px;

        &-btn {
            padding: 9px 19px;
            text-align: center;
            background-color: $color-btn-blue;
            border-radius: 20px;
            font-weight: 500;
            color: #fff;
            font-size: 15px;
            line-height: 1;
            display: inline-block;
            margin-right: 20px;
        }

        &-link {
            position: relative;
            margin-right: auto;

            a {
                padding: 0 28px;
                font-size: 15px;
                line-height: 30px;
            }

            &-one {
                color: $text-light;

                &::before {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 14px;
                    background-image: url("../images/slider_resume/slider-item-link-1.png");
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &-two {
                color: $color-btn-blue;

                &::before {
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    background-image: url("../images/slider_resume/slider-item-link-2.png");
                    left: 80px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}









// 